@import "variables.sass";
@import "~bulma/bulma.sass";

.awesome
  display: flex
  min-height: 100vh
  flex-direction: column

.app 
  flex: 1
  padding-bottom: 4rem


.hero-background 
  @extend .hero
  background-image: url('./Assent/Image/back.jpg')
  background-size: cover

.box-sign
  max-width: 380px
  margin: 0 auto

.is-common-error
  position: fixed
  top: 2rem
  right: 2rem

.navbar-item img
  max-height: 100%

.menu-list
  a.is-active
    background: #e8f0fe
    color: #1967d2
    border-radius: 0 2rem 2rem 0
  a:hover
    border-radius: 0 2rem 2rem 0

.content-account
  max-width: 40%
  margin: 0 auto
  border-radius: 8px
  border: 1px solid #dadce0
  padding: 2rem

.has-text-title
  color: #202124

.has-text-subtitle
  color: #5f6368



  